<nav>
    <ul class="navbar">
        <li>
            <label class="switch lang">
                <input type="checkbox" onclick="changeLang()" id="lang">
                <span class="slider round"></span>
                <span class="labels" data-on="en" data-off="ru"></span>
            </label>
        </li>
        <li>
            <label class="switch theme">
                <input type='checkbox' onclick="changeTheme()" id='theme'/>
                <label for='theme'>Night</label>
            </label>
        </li>
        <li>
            <a class="btn download" href="{{ page.pdf_url }}" id="download" download="CV.pdf"> Download </a>
        </li>
    </ul>
</nav>
