body {
    color: #222;
}

a {
    color: #0033cc;
}

nav {
    width: 100%;
}


body.dark {
    // background: #152028;
    background: #0b1530;
    color:  #eee;

    a {
        color: #1aabb6;
    }
    h1, h2 {
        color: #ECB365;
    }
    h3 {
        color: #da8895;
    }
}

.hidden {
    display: none;
}